@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaPro-Bold.woff2') format('woff2'),
        url('../fonts/SofiaPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProRegular.woff2') format('woff2'),
        url('../fonts/SofiaProRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaPro-Medium.woff2') format('woff2'),
        url('../fonts/SofiaPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaPro-Light.woff2') format('woff2'),
        url('../fonts/SofiaPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}




body {font-family:Sofia Pro;}

img{width: 100%;}


.horizontal-slider{max-width:90%;margin:10px auto;color:#fff;background: #007dba;background: -moz-linear-gradient(-45deg,  #007dba 0%, #004165 100%);background: -webkit-linear-gradient(-45deg,  #007dba 0%,#004165 100%);background: linear-gradient(135deg,  #007dba 0%,#004165 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007dba', endColorstr='#004165',GradientType=1 );padding: 85px 0;}
.horizontal-slider .container {margin:0 auto; max-width:1060px;}
.horizontal-slider .top-heading {margin:0 0 79px;}
.horizontal-slider .top-heading h4{font-size: 14px;color:#fff;}
.horizontal-slider .top-heading h2{font-size: 39px;color:#fff;position: relative; font-weight:bold;}
.horizontal-slider .top-heading h2::after{content: "";display: block;height: 6px;width: 112px;background-color: #F5A623;position: absolute;left: 0;margin-top: 8px;}

.horizontal-slider .main-section {display:flex; flex-wrap:wrap;}
.horizontal-slider .items {flex:0 0 25%; width:25%;}
.horizontal-slider .preview-wrapper {flex: 0 0 50%; width:50%;}

.horizontal-slider .item{margin:0 0 100px;opacity:0.4; cursor:pointer;}
.horizontal-slider .item:hover{opacity:0.5;}
.horizontal-slider .item h4{font-size: 28px;font-weight:bold;}
.horizontal-slider .item p{font-size: 20px;line-height: 1.25; margin:0; font-weight:300;}

.horizontal-slider .preview {position:relative;height: 100%;}
.horizontal-slider .preview .picture {position:absolute;width: 400px;top: 58%;left:50%;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);}
.horizontal-slider .preview .picture img{position:relative;opacity:0;left:-100px;display:none;}
.horizontal-slider .preview .steps-circle {position:absolute;top:50%; left:50%;transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%);}
.horizontal-slider .preview .steps-circle:after{content:''; height:24px; width:24px; display:block; border-radius:50%; background:#95D229; position:absolute; top:9px; left:50%; transform:translate(-50%, -50%);}

.horizontal-slider .bottom-dots{display: flex;justify-content: center;margin-top: 30px;}
.horizontal-slider .bottom-dots span{opacity:0.5;height: 10px;width: 10px;border-radius: 50%;background-color: #fff;display: inline-block;margin-right: 10px;cursor: pointer;}

[slide="1"] .item-one, [slide="2"] .item-two, [slide="3"] .item-three, [slide="4"] .item-four,
[slide="1"] .bottom-dots span:nth-child(1), [slide="2"] .bottom-dots span:nth-child(2), [slide="3"] .bottom-dots span:nth-child(3), [slide="4"] .bottom-dots span:nth-child(4)  {opacity:1 !important;}
[slide="1"] #image1, [slide="2"] #image2, 
[slide="3"] #image3, [slide="4"] #image4 {display:block;visibility: visible;opacity: 1;left:0;animation-name: fade;animation-duration: 1s;animation-delay: 0;}

@keyframes fade {
    0%   {left:-100px; opacity:0;}
    100% {left:0; opacity:1;}
}


/*   MEDIA QUERIES   */

@media (max-width:1024px){
    .horizontal-slider .top-heading h2 {font-size:35px;}
    
    .horizontal-slider {max-width:100%;}
    
    .horizontal-slider .items {flex:0 0 30%; width:30%;}
    .horizontal-slider .preview-wrapper {flex: 0 0 40%; width:40%; padding:0 10px;}

    .horizontal-slider .preview .picture {width:320px;}
    .horizontal-slider .preview .steps-circle {max-width:300px; max-height:300px;}
    .horizontal-slider .preview .steps-circle canvas {max-width:300px; max-height:300px;}

    .horizontal-slider .item {}
    .horizontal-slider .item:last-child {margin:0;}
    .horizontal-slider .item h4 {font-size:26px;}
    .horizontal-slider .item p {font-size:18px;}
}

@media (max-width:768px){
    .horizontal-slider .container {max-width:400px;}
    .horizontal-slider .items {flex:0 0 100%; width:100%;}
    .horizontal-slider .preview-wrapper {flex:0 0 100%; width:100%; order:1; margin:50px 0 0;}

    .horizontal-slider .item{display:none; margin:0;} 
    [slide="1"] .item-one, [slide="2"] .item-two, [slide="3"] .item-three, [slide="4"] .item-four  {display:block;}

    .horizontal-slider .preview {height:300px;}
}

@media(max-width:576px){

    .horizontal-slider .top-heading h4 {font-size: 10px;}
    .horizontal-slider .top-heading h2 {font-size: 26px;}

    .horizontal-slider .slider-grid-row h4 {font-size: 22px;}
    .horizontal-slider .slider-grid-row p {font-size: 14px;width: 70%;}
    .horizontal-slider .slider-grid-row .detail{padding-left: 20px;}
}


